html, body{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    padding-left: 140px;
    background: whitesmoke;
}

[class^=fa]{
    padding: 15px;

}

side{
    height: 100%;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}
.thumbnail{
   height: 100px;
   width: 100px;
}

.thumbnail img{
    width: 100%;
}

.camera a{
    color: black;
    padding: 15px;
}

.camera a:hover{
    color: darkolivegreen
}

.menu a{
    text-decoration: none;
    color: darkgoldenrod
}
.menu{
    position: fixed;
    bottom: 0;
    left: -30px;

}
.menu ul{
    list-style-type: none;
    font-size: 20px;

}

#submenu{
    position: relative;

}

#submenu>ul{
    position: absolute;
    left: 50px;
    bottom: 20px;
    display: none; 

}


#submenu:hover>ul{
    display: block;
    height: 100px;
    width: 100px;
}

#submenu>ul>li>a{
    display: block;
    width: 135px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 18px;
}

#submenu>ul>li>a:hover{
    color: rosybrown;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



#submenu>a{
    display: block;
    width: 80px;
    height: 80px; 
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    border-radius: 20px;
    letter-spacing: 1px
}
#submenu>a:hover{
    color: rosybrown;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px rosybrown solid
}

.picture{
    width: calc(100% / 2 - 110px);
    height: 300px;
    float: left;
    margin: 100px;
    position: relative;
}

#picture1{
    position: relative;
    top: 0px;
    left: 100px; 
}
#picture3{
    position: relative;
    top: 0px;
    left: 100px; 
}
img{
    width: 100%;
}


.picture:hover{
    position: relative;
    top: 0px;
    left: 100px;
}



.picture>h1:first-of-type{
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    text-shadow: 10px;
    width:300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid white;

}

.words{
    position: absolute;
    left: 400px;
    top: 200px;
    background: white;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
    height: 200px;
    width: 400px;
    padding: 20px;
    padding-left: 30px; 
}

.side-pic{
    float:left;
    width: 300px;
    height: 300px;
    margin: 60px;
    padding-top: 40px;

}